* {
  text-align: center;
}

#title {
  color: blueviolet;
  font-size: 50px;
  margin: 0 0 50px;
}

section {
  color: plum;
}


#submitBtn {
  margin-top: 20px;
  width: 80px;
  background-color: darkseagreen;
  border-radius: 8%;
  cursor: pointer;
}

#display {
  margin-top: 50px;
  font-size: 20px;
  color: green;
}
